<%= form_for @creature do |f| %>
<div class="container">
  <br>
  <br>
  <div class="container">
    <p>Creature Name:</p>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="container">
    <p>Creature Description</p>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="container">
    <%= f.submit "Save Creature" %>
  </div>
</div>
<% end %>
